@model SquadHealthCheck.TrafficLightModel
<div style="display:flex;flex-direction:column">
    <partial name="UserTrafficLight" />
    <div style="font-weight:bold;text-align:center">
        Squad Values
    </div>
    <partial name="SquadTrafficLight" />
</div>