@model SquadHealthCheck.Squad

<div id="Squad@(Model.Id)">
    <p>
        @Model.Name
    </p>
    <p>
        @Model.Description
    </p>
    <a href="~/ManageSquad/Config/@Model.Id">Configure</a>&nbsp;<a onclick="deleteSquad(@Model.Id)">Delete</a>
</div>