@{
    ViewBag.Title = "Manage Squad Page";
    
}

<script type="text/javascript">
    function redirect() {
        location.href = "/";
    }

    $(function () {
        setTimeout(redirect, 5000);
    });
</script>

<h1>
    A squad with that name already exists!
</h1>
